@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido </h1>
    <h2>2do Examen Parcial</h2>
    <br />
    <br />
    <p> Realiza la conexion a la BD </p>
</div>
